/*Calculators*/
.calculator-list
{
    list-style-type: none;
}

.calculator-button
{
    border: 3px solid purple;
    border-radius: 7px;
    color: mediumpurple;
    background-color: black;
}

.calculator-div
{
    border: 3px solid purple;
    border-radius: 7px;
    padding: 10px;
    width: 29%;
    height: 50vh;
    float: left;
    margin: 20px;
    text-align: center;
}

.calculator-div img
{
    width: 60%;
}

.calculator-div-numInput
{
    border: 3px solid purple;
    border-radius: 7px;
    color: mediumpurple;
    background-color: black;
}

.calculators-div-options
{
    color: mediumpurple;
    border: 3px solid purple;
    border-radius: 7px;
    background-color: black;
}

.calculators-div-options:hover, .calculator-button:hover, .calculator-div-numInput:hover
{
    color: purple;
    border: 3px solid mediumpurple;
}

.calculators-div-options:active
{
    color: purple;
    background-color: black;
}