/*Calculators*/
.calculator-list
{
    list-style-type: none;
}

.calculator-button
{
    border: 3px solid purple;
    border-radius: 7px;
    color: mediumpurple;
    background-color: black;
}

.calculator-div
{
    border: 3px solid purple;
    border-radius: 7px;
    padding: 10px;
    width: 20%;
    height: 40vh;
    float: left;
    margin: 20px;
    text-align: center;
}

.calculator-div img
{
    width: 60%;
}

.calculator-div-numInput
{
    border: 3px solid purple;
    border-radius: 7px;
    color: mediumpurple;
    background-color: black;
}

.calculators-div-options
{
    color: mediumpurple;
    background-color: black;
}

.calculators-div-options:hover
{
    color: purple;
    background-color: black;
}

.calculators-div-options:active
{
    color: purple;
    background-color: black;
}