body
{
    background-color: black;
    color: mediumpurple;
}

.mainTable
{
    width: 100%;
    height: 90vh;
}

/*Header*/
.header-div
{
    width: 100%;
    border: 3px solid purple;
    border-radius: 7px;
}

.header-header
{
    text-align: center;
    color: mediumpurple;
    text-decoration: none;
}

.header-button
{
    margin-left: 90%;
    margin-top: -3.5%;
    height: 100%;
    background-color: black;
    border: 0px solid black;
}

.header-button img
{
    height: 10vh;
}


/*Main*/
.main-header
{
    margin-left: 30%;
}

.main-div-table
{
    text-align: justify;
}

.main-div-table img
{
    width: 100%;
}

/*Side*/
.side-div
{
    border: 3px solid purple;
    border-radius: 7px;
    background-color: black;
    position: absolute;
    text-align: center;
    left: 83%;
    top: 14%;
    width: 16.5%;
    height: 96.5%;
    display: none;
    color: mediumpurple;
}

.side-div-list
{
    text-align: left;
    list-style-type: none;
}

.side-div-link
{
    text-decoration: none;
    font-size: 25px;
}

.side-div-link:hover
{
    color: mediumpurple;
    font-size: 2em;
}

.side-div-linkY
{
    color: yellow;
}

.side-div-linkMO
{
    color: darkorange;
}

.side-div-linkO
{
    color: orangered;
}

.side-div-linkR
{
    color: red;
}

/*Footer*/
.footer-div
{
    border: 3px solid purple;
    border-radius: 7px;
    font-size: 25px;
}

.footer-list
{
   text-align: justify;
}

.footer-list-link
{
    text-decoration: none;
    color: mediumpurple;
    margin: 5%;
}

.footer-list-link:hover
{
    text-decoration: underline;
    text-decoration-color: purple;
}

.footer-list li
{
    display: inline;
}

/*Calculators*/
.calculator-list
{
    list-style-type: none;
}

.calculator-button
{
    border: 3px solid purple;
    border-radius: 7px;
    color: mediumpurple;
    background-color: black;
}

.calculator-div
{
    border: 3px solid purple;
    border-radius: 7px;
    padding: 10px;
    width: 20%;
    height: 40vh;
    float: left;
    margin: 20px;
}