body
{
    background-color: black;
}

.header-div
{
    width: 100%;
    float: left;
    border: 3px solid purple;
    border-radius: 7px;
}

.header-text
{
    text-align: center;
    float: center;
    color: mediumpurple;
}

.header-button
{
    float: right;
    margin-right: 90px;
    margin-top: -80px;
}

.header-button img
{
    height: 10vh;
}